.team-section {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  padding: 40px 60px;
}

.team-section h2 {
  color: var(--color-text-primary);
}

.team-section-cards {
  display: flex;
  gap: 20px;
}

.team-section-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  background-image: url("https://i.pinimg.com/736x/0e/23/0a/0e230abf115cef004b133e076be6311a.jpg");
  background-size: cover;
}

.team-section-card__content {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}

.team-section-card__content:hover {
  display: flex;
  gap: 10px;
  opacity: 1;
  background-color: rgba(27, 136, 0, 0.5);
}

.team-section-card__content a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
  transition: all .3s ease;
}

.team-section-card__content a img:hover {
  background-color: rgba(255, 179, 65, 1);
}

/* Mobile first */
@media (min-width: 280px) and (max-width: 767px) {
  .team-section h2 {
    font-size: 2rem;
  }

  .team-section {
    padding: 30px;
  }
}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */