.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  height: fit-content;
  background-color: #1D1D1D;
}

.program-section h2,
.program-section span {
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
}

.program-section h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.program-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.program-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
  height: 330px;
  background-color: #2A2A2A;
  border-radius: 12px;
  padding: 24px;
  color: white;
}

.program-card img {
  height: 130px;
  background-color: red;
  border-radius: 14px;
  width: 100%;
}

.program-card p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 0;
}