.program-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  height: fit-content;
  background-color: #0F172A;
  background-color: var(--color-bg);
}

.program-section h2,
.program-section span {
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
}

.program-section h2 {
  margin-bottom: 20px;
}

.program-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.program-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 300px;
  height: 330px;
  background-color: var(--color-border);
  border-radius: 12px;
  padding: 12px 24px;
}

.program-card img {
  height: fit-content;
  max-height: 150px;
  border-radius: 14px;
  width: 100%;
  object-fit: cover;
}

.program-card p {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 0;
  color: var(--color-text-secondary);

}

.program-card span {
  color: var(--color-text-muted);
}

/* Mobile first */
@media (min-width: 480px) and (max-width: 767px)  {
  .program-section {
    padding: 30px;
  }

  .program-card {
    width: 100%;
    height: 400px;
  }

  .program-card img {
    max-height: 220px;
  }

  .program-section h2 {
    margin-bottom: 0;
  }
}

/* Mobile grande */
@media (min-width: 768px) {
  .program-card {
    width: 300px;
    height: 330px;
  }
}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */