.navbar-container {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  color: white;
  padding: 20px;
  height: 80px;
  border-radius: 0 0 10px 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 99;
}