.overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card h4 {
  font-size: 22px;
  margin-bottom: 5px;
}

.card p {
  font-size: 14px;
  color: gray;
}

.card.warning {
  background: #fff4e5;
}