.container-testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: fit-content;
  padding: 40px 60px;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  gap: 70px;
}

.testimonials-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.testimonials-right__content {
  color: white;
  max-height: 200px;
  height: 100%;
  border: 1px solid rgb(124, 124, 124);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.testimonials-right__content img{
  width: 50px;
}

.testimonials-right__content span {
  word-break: break-word;
  overflow-wrap: break-word;
}