.container-testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: fit-content;
  padding: 40px 60px;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  gap: 70px;
}

.testimonials-left {
  display: block;
}

.testimonials-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.testimonials-right__content {
  color: white;
  max-height: fit-content;
  height: 100%;
  border: 1px solid rgb(124, 124, 124);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.testimonials-right__content img {
  width: 50px;
}

.testimonials-right__content span {
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Mobile first */
@media (min-width: 280px) and (max-width: 767px) {
  .container-testimonials {
    display: flex;
    padding: 30px;
    height: 100%;
    gap: 0;
  }

  .testimonials-left {
    display: none;
  }

  .testimonials-right h2 {
    font-size: 2rem;
  }

  .testimonials-right__content {
    width: 100%;
    gap: 5px;
    padding: 10px;
  }
}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */