.container-testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: fit-content;
  padding: 90px;
  background-color: #1D1D1D;
  gap: 70px;
}

.testimonials-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.testimonials-right__content {
  max-height: 200px;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}