.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e7eb;
	color: #1f2937;
	gap: 15px;
	flex-wrap: wrap;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
	z-index: 1000;
}

.topbar h2 {
	font-size: 18px;
	font-weight: 600;
	white-space: nowrap;
	margin: 0;
}

.topbar-content {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	gap: 12px;
	flex-wrap: wrap;
}
.topbar-content h2 span{
	font-size: 1.5rem;
	color: rgb(43, 51, 43);
	font-weight: bold;
}
.hamburger {
	background: none;
	border: none;
	font-size: 22px;
	cursor: pointer;
	padding: 5px;
	transition: all 0.2s ease;
	display: none;
}

.hamburger:hover {
	transform: scale(1.2);
	color: #4f46e5;
}

@media (max-width: 900px) {
	.search-bar input {
		width: 160px;
	}

	.topbar h2 {
		font-size: 16px;
	}
	.hamburger {
		display: block;
	}
}

@media (max-width: 600px) {
	.topbar {
		flex-direction: column;
		gap: 10px;
	}

	.header-right {
		width: 100%;
		justify-content: space-between;
	}

	.topbar h2 {
		font-size: 16px;
	}
}
