.container-aboutsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  gap: 40px;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  padding: 40px 60px;
}

.aboutsection-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.aboutsection-left img {
  max-width: 100%;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;
}

.aboutsection-left span {
  color: #bebebe;
  border-left: 1px solid rgb(66, 66, 66);
  padding-left: 20px;
}

.aboutsection-left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutsection-left-container h2 {
  font-size: 4rem;
}

.aboutsection-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
}

.aboutsection-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.aboutsection-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.aboutsection-card img {
  background-color: rgb(228, 215, 215);
  height: 80px;
  width: 80px;
  border-radius: 12px;
  padding: 5px;
}

.aboutsection-card p {
  font-size: 1.8rem;
  font-weight: bold;
  width: 40%;
  line-height: 0;
  color: var(--color-text-secondary);
  padding: 30px 0 30px 0;
}

.aboutsection-card span {
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-muted);
}

/* Mobile first */
@media (min-width: 480px) and (max-width: 767px) {
  .container-aboutsection {
    padding: 30px;
    display: flex;
  }

  .aboutsection-card {}

  .aboutsection-card p {
    font-size: 1.5rem;
    padding: 20px 0 20px 0;

  }

  .aboutsection-card span {
    font-size: .9rem;
  }

  .aboutsection-left {
    display: none;
  }
}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */