.container-aboutsection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: fit-content;
  gap: 40px;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  padding: 40px 60px;
}

.aboutsection-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutsection-left img {
  max-width: 100%;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  object-fit: cover;

}

.aboutsection-left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutsection-left-container h2 {
  font-size: 4rem;
}

.aboutsection-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: fit-content;
}

.aboutsection-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.aboutsection-card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.aboutsection-card img {
  background-color: rgb(228, 215, 215);
  height: 80px;
  width: 80px;
  border-radius: 12px;
  padding: 5px;
}

.aboutsection-card p {
  font-size: 1.8rem;
  font-weight: bold;
  width: 40%;
  line-height: 0;
  color: var(--color-text-secondary);
  padding: 30px 0 30px 0;
}

.aboutsection-card span {
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-muted);
}