.footer {
  background: #0f0f0f;
  color: #fff;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 50px 0;
}

.footer-col h3 {
  margin-bottom: 20px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col a:hover {
  color: #ff4d00;
}

.footer-col:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col:nth-child(4) hr {
  margin: 10px 0;
  width: 200px;
}

.footer-newsletter {
  display: flex;
  border: 1px solid rgb(158, 158, 158);
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
}

.footer-newsletter button {
  width: 40px;
  height: 40px;
  background-color: var(--color-primary);
}

.footer-span {
  border-top: 1px solid rgb(143, 143, 143);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 0.8rem;
}

/* Mobile first */
@media (min-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0;
  }
}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */