.dashboard-overview {
	padding: 0 20px;
	height: 100%;
}

.middle-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.middle-section-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
}

@media (min-width: 280px) and (max-width: 767px) {
	.middle-section {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}

/* Mobile grande */
@media (min-width: 768px) {
}

/* Tablet */
@media (min-width: 1024px) {
}

/* Laptop */
@media (min-width: 1280px) {
}

/* Desktop */
@media (min-width: 1536px) {
}

/* Desktop grande */
