.container-herosection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 700px;
  padding: 90px 0 0 71px;
  background-color: rgb(170, 170, 170);
}

.herosection-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.herosection-right {
  margin-left: 20px;
  
}

.herosection-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  clip-path: polygon(15% 0%,
      100% 0%,
      100% 100%,
      45% 100%,
      0% 30%);
}

.herosection-left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.herosection-left-container h1 {
  font-size: 4rem;
}