.container-herosection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  padding: 0 0 0 30px;
  background-color: #0F172A;
  background-color: var(--color-bg);
}

.herosection-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.herosection-right {
  margin-left: 20px;
  background-color: var(--color-text-primary);
  max-height: 100%;

  clip-path: polygon(15% 0%,
      100% 0%,
      100% 100%,
      45% 100%,
      0% 30%);

}

.herosection-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  clip-path: polygon(20% 0%,
      100% 0%,
      100% 100%,
      55% 100%,
      0% 30%);
}

.herosection-left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.herosection-left-container span {
  color: green;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.herosection-left-container h1 {
  width: 90%;
  font-size: 4rem;
  line-height: 70px;
  font-weight: bold;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.herosection-left-container p {
  width: 70%;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-muted);
}

/* Mobile first */
@media (min-width: 280px) and (max-width: 767px) {
  .container-herosection {
    display: flex;
    height: 100vh;
    background-image: url("http://localhost:5173/src/assets/images/homeImg.jpg");
    background-position: center;
    background-size: cover;
  }

  .herosection-right {
    display: none;
  }

  .herosection-left-container h1 {
    font-size: 2rem;
    line-height: 30px;
  }

  .herosection-left-container span {
    font-size: 1rem;
  }

  .herosection-left-container {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
  }
}

/* Mobile grande */

@media (min-width: 768px) and (max-width: 1023px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */