.container-herosection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  padding: 90px 0 0 71px;
  background-color: #0F172A;
  background-color: var(--color-bg);
}

.herosection-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.herosection-right {
  margin-left: 20px;
}

.herosection-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  clip-path: polygon(15% 0%,
      100% 0%,
      100% 100%,
      45% 100%,
      0% 30%);
}

.herosection-left-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.herosection-left-container span {
  color: green;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.herosection-left-container h1 {
  width: 90%;
  font-size: 4rem;
  line-height: 70px;
  font-weight: bold;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-primary);
}

.herosection-left-container p {
  width: 70%;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--color-text-muted);
}