.container-submitBtn {
  display: flex;
  flex-direction: row;
}

.container-submitBtn button {
  padding: 15px 25px;
  background-color: #22C55E;
  border-radius: 12px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
}