.container-submitBtn {
  display: flex;
  flex-direction: row;
}

.container-submitBtn button {
  padding: 15px 25px;
  background-color: #FD5E15;
  border-radius: 12px;
  cursor: pointer;
  color: #FFF;
}