.container-submitBtn {
  display: flex;
  flex-direction: row;
}

.container-submitBtn button {
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, var(--color-primary-light), var(--color-primary-hover));
  color: rgb(0, 0, 0);
  padding: 14px 28px;
  border: none;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.container-submitBtn button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent,
      rgba(255, 255, 255, 0.9),
      transparent);
  transition: 0.6s;
}

.container-submitBtn button:hover::after {
  left: 100%;
}

.container-submitBtn button:hover {
  transform: scale(1.05);
}