.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #161B22;
  background-color: var(--color-bg-secondary);
  color: white;
  padding: 0 20px;
  height: 80px;
  border-radius: 0 0 10px 20px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.header-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-link {
  color: white;
  text-decoration: none;
  height: 100%;
}

.btn-link img {
  width: 100%;
}

@media (min-width: 280px) and (max-width: 767px) {

  .header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header-actions {
    gap: 10px;
    width: 50%;
    justify-content: space-between;
  }

  .btn-link {
    width: 20px;
  }

  .btn-link img {
    width: 60px;
  }

  .btn-primary button {
    padding: 12px 15px;
    font-size: .9rem
  }

}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */