.client-card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.client-header h3 {
	margin: 0;
	font-size: 1.2rem;
	color: #333;
}

.client-header p {
	margin: 5px 0 0 0;
	font-size: 0.9rem;
	color: #666;
}

.client-body p {
	margin: 5px 0;
	font-size: 0.9rem;
	color: #444;
}

.client-footer {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.client-footer button {
	padding: 5px 10px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.client-footer .delete-btn {
	background-color: #f43131;
}

.client-footer .delete-btn:hover {
	background-color: #ac0808;
}