.sidebar {
  width: 250px;
  background-color: #0f2f3a;
  color: white;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-section {
  text-align: center;
}

.profile-img {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 50%;
  margin: 0 auto 15px;
}

.profile-section h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.profile-section span {
  font-size: 12px;
  opacity: 0.7;
}

.menu ul {
  list-style: none;
  margin-top: 30px;
}

.menu li {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.menu li:hover {
  background-color: #174a5a;
}

.menu .active {
  background-color: #1f5f73;
}

.logout-btn {
  background: none;
  border: 1px solid white;
  padding: 10px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}