.team-section {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #161b22;
	background-color: var(--color-bg-secondary);
	padding: 40px 60px;
}

.team-section h2 {
	color: var(--color-text-primary);
}

.team-section-cards {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.team-section-card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 300px;
	background-color: rgb(255, 255, 255);
	border-radius: 12px;
	background-image: url("https://i.pinimg.com/736x/0e/23/0a/0e230abf115cef004b133e076be6311a.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}

.team-section-card__content {
	padding: 1.5rem 1rem;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 12px;
	width: 80%;
}

.team-section-card__content > img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 1rem;
	transition: transform 0.3s ease;
	background-image: url("https://i.pinimg.com/736x/0e/23/0a/0e230abf115cef004b133e076be6311a.jpg");
	background-size: contain;
}

.team-section-card:hover img {
	transform: scale(1.05);
}

.team-section-card__content h4 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
	color: #6588b9;
}

.team-section-card__content p {
	font-size: 0.95rem;
	color: #6b7280;
	margin-bottom: 1rem;
}

.team-section-socials {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
	margin-top: 0.5rem;
}

.team-section-socials a img {
	width: 24px;
	height: 24px;
	transition:
		transform 0.3s ease,
		filter 0.3s ease;
	filter: grayscale(50%);
}

.team-section-socials a:hover img {
	transform: scale(1.2);
	filter: grayscale(0%);
}
