.heading-section h2 {
  font-size: 2.5rem;
  line-height: 80px;
  color: var(--color-text-primary);
  text-transform: uppercase;
  font-weight: bold;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 480px) {
  .heading-section h2{
    font-size: 2rem;
  }
}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}