.heading-section h2 {
  font-size: 2.5rem;
  line-height: 80px;
  color: var(--color-text-primary);
  text-transform: uppercase;
  font-weight: bold;
  word-break: break-word;
  overflow-wrap: break-word;
}