* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", sans-serif;
}

.admin-wrapper {
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.admin-main {
	width: 100%;
}

.main-content {
	flex: 1;
	background: #f3f7f9;
	height: 100vh;
}

@media (min-width: 280px) and (max-width: 767px) {
	.admin-wrapper {
		display: flex;
		height: 100vh;
		overflow: auto;
	}
}

/* Mobile grande */
@media (min-width: 768px) {
}

/* Tablet */
@media (min-width: 1024px) {
}

/* Laptop */
@media (min-width: 1280px) {
}

/* Desktop */
@media (min-width: 1536px) {
}

/* Desktop grande */

