* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.admin-wrapper {
  display: flex;
  height: 100vh;
  background: linear-gradient(to bottom, #cfdfe6, #7aa5b3);
}

/* MAIN CONTENT */

.main-content {
  flex: 1;
  padding: 30px;
  background: #f3f7f9;
  border-top-left-radius: 25px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.search-bar input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}
