.container-pricingsection {
  height: fit-content;
  background-color: #0F172A;
  background-color: var(--color-bg);
  padding: 40px 60px;
}

.pricingsection-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.pricingsection-cards {
  display: flex;
  justify-content: space-around;
  height: fit-content;
  flex-wrap: wrap;
  gap: 50px;
}

.pricingsection-card {
  width: 100%;
  padding: 20px;
  background-color: var(--color-border);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.pricingsection-card button {
  width: 100%;
  padding: 20px;
  background-color: var(--btn-primary-bg);
  box-shadow: var(--shadow-soft);
  border-radius: 10px;
}

.pricingsection-card__header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pricingsection-card__header p {
  font-size: 4rem;
  font-weight: bold;
}

.pricingsection-card span {
  padding: 10px 0;
}

.pricingsection-card__list {
  list-style-type: disc;
  padding: 0 0 15px 20px;
}

.pricingsection-card__list li::marker {
  font-size: 36px;
  line-height: 20px;
  color: var(--color-span);
}

/* Mobile first */
@media (min-width: 480px) {
  .container-pricingsection {
    padding: 30;
  }

  .pricingsection-content {
    padding-bottom: 0;
  }

  .pricingsection-cards {
    gap: 20px;
  }
}

/* Mobile grande */
@media (min-width: 768px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* Laptop */
@media (min-width: 1280px) {}

/* Desktop */
@media (min-width: 1536px) {}

/* Desktop grande */