.billing-submit {
  margin-top: 25px;
  height: 52px;
  width: 100%;
  border: none;
  border-radius: 12px;
  background: linear-gradient(135deg, #111, #000);
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.billing-submit:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.billing-submit:active {
  transform: scale(0.98);
}